body {
  margin: 0;
}

.first-box,
.second-box {
  width: 100vw;
  height: 100vh;
}

.first-box {
  background-color: rebeccapurple;
}

.second-box {
  background-color: orange;
}

.square {
  width: 150px;
  height: 150px;
  background-color: green;
}

.square2 {
  width: 150px;
  height: 150px;
  background-color: rebeccapurple;
}

.red {
  background-color: red;
}
